# .NET / C#
bin/
obj/
*.user
*.suo
*.userosscache
*.sln.docstates
.vs/

# Node / Angular
node_modules/
dist/
.angular/
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Environment & IDE
.idea/
.vscode/
*.swp
*.DS_Store
